<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
  }
  #wrapper {
    background: white;
    padding: 6px;
    width: 760px;
    height: 400px;
  }
  #preview {
    border-left: 3px solid rgb(100, 100, 100);
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  main {
    padding: 12px;
    width: 100%;
  }
  h1 {
    padding: 0;
    margin: 0;
    font-size: 42px;
  }

  #site {
    align-self: flex-end;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  span.author {
    padding: 6px 12px 0;
    font-size: 32px;
  }
  span.site {
    padding: 0 12px 6px;
    font-size: 24px;
  }



</style>

<div id='wrapper'>
  <div id='preview'>
    <span class='top'></span>
    <main class='content'>
      <h1>[TITLE]</h1>
    </main>
    <div id="site">
    <span class='author'>Aki Rautio</span>
    <span class='site'>akirautio.com</span>
  </div>
  </div>
</div>